#totalWorks {
    background: #32d296;
}

#totalLikes {
    background: #f0506e;
}

#saveNicknameContainer input {
    width: 200px;
}

#saveSignContainer input {
    width: 250px;
}

.add-album{
    height: 194px;
    border: 2px dashed gray;
}

.add-album div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}