body{
    background-image: url("../imgs/index/bg1.jpg");
    min-height: 100vh;
    overflow: hidden;
    transition: 0.5s;
}

h1{
    transition: 1s;
    color: white;
}

.uk-button-secondary{
    width: 220px;
    text-align: center;
    font-size: larger;
    border-radius: 50px;
}

.uk-notification-message{
    font-size: 1rem;
    text-align: center;
}