.label-people{
    background: #f0506e;
}

.label-scenery{
    background: orange;
}

.label-animal{
    background: #CAE1FF;
}

.label-plant{
    background: green;
}

.label-food{
    background: #222222;
}

.label-street{
    background: #1e87f0;
}

.label-art{
    background: mediumpurple;
}

.badge-comment{
    background: #1e87f0;
    font-size: 1rem;
    color: white;
}

.badge-like{
    background: #f0506e;
    font-size: 1rem;
    color: white;
}

.badge-work{
    background: #32d296;
    font-size: 1rem;
    color: white;
}