.label-people{
    background: #f0506e;
}

.label-scenery{
    background: orange;
}

.label-animal{
    background: pink;
}

.label-object{
    background: green;
}

.label-food{
    background: #222222;
}

.label-street{
    background: #1e87f0;
}

.label-art{
    background: mediumpurple;
}