#headPic {
    width: 6vh;
    height: 6vh;
}

.uk-navbar-dropdown {
    padding: 15px;
}

.uk-search-input {
    font-size: .875rem !important;
    background: rgba(255, 255, 255, 0.3) !important;
    padding-left: 10px;
}

.uk-card-footer {
    padding: 15px;
}

.like-badge{
    background: #f0506e;
}

footer div {
    height: 100px;
}

.top3-head-pic {
    width: 150px;
    height: 150px;
}
.top10-head-pic {
    width: 90px;
    height: 90px;
}

.top3-icon{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    /*margin-bottom: 40px;*/
}